name: Unit Tests

on:
  pull_request:

jobs:
  safe-writer:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      max-parallel: 15
      matrix:
        operating-system: [macOS-latest, ubuntu-latest, windows-latest]
        php-versions: ['8.0', '8.1', '8.2', '8.3', '8.4', '8.5']
    name: PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Install dependencies
        run: composer update --no-progress --optimize-autoloader

      - name: Run tests
        run: composer test
